[META]
human=YOUR NAME HERE
; printed at the top of each gradeLog.txt
description=Homework XX
; round to 2 decimal points
round=2

; Configure the lc3test backend (Uncomment to use LC-3)
;[LC-3]
;; run each test 8 times, taking the minimum
;runs=8

; Configure the C backend (Uncomment to use C)
;[C]
;timeout=timeout in seconds (float)
;cfiles=space-separated list of files to copy to grader dir
;tests_dir=tests
;log_file=tests.log
;build_cmd=make
;run_cmd=./tests {}
;valgrind_cmd=CK_FORK=no valgrind --leak-check=full --error-exitcode=1 --show-leak-kinds=all --errors-for-leak-kinds=all ./tests {}

; Tests

; lc3test template:
;[xml_file_name.xml]
;description=human-friendly test name shown in grade breakdown
;weight=1-100 how many points this test is worth
;warning_deduction=1-100 points to deduct if at least one warning occurs
;asmfile=asm_file_name.asm

; C template:
;[suite_name]
;description=human-friendly test name shown in grade breakdown
;weight=1-100 how many points this test is worth
;leak_deduction=1-100 points to deduct if valgrind reports errors

; vim:set ft=dosini :
