[META]
human=YOUR NAME HERE
; printed at the top of each gradeLog.txt
description=Homework XX
; run each test 8 times, taking the minimum
runs=8
; round to 2 decimal points
round=2

; Tests

; template:
;[xml_file_name.xml]
;description=human-friendly test name shown in grade breakdown
;weight=1-100 how many points this test is worth
;warning_deduction=1-100 points to deduct if at least one warning occurs
;asmfile=asm_file_name.asm
