[META]
; printed at the end of the grade breakdown, leave your students a nice
; message!
signoff=-YOUR NAME HERE
; printed at the top of each gradeLog.txt
description=Homework XX

; Configure the lc3test backend (Uncomment to use LC-3)
;[LC-3]
;; percentage of max points per test to deduct for warnings
;warning_deduction_percent=25
;; run each test 100 times, taking the minimum
;runs=100

; Configure the C backend (Uncomment to use C)
;[C]
; Use a big ol' timeout for the sake of slower VMs. Make this smaller to speed
; up grading if your students like writing infinite loops, but watch out for
; valgrind timeouts
;timeout=30
;cfiles=my_math.c
;tests_dir=tests
;build_cmd=make
;testcase_fmt=test_math_{category}_{test}
;run_cmd=./tests {test} {logfile}
;valgrind_cmd=valgrind --quiet --leak-check=full --error-exitcode=1 --show-leak-kinds=all --errors-for-leak-kinds=all ./tests {test} {logfile}

; Tests

; lc3test template:
;[xml_file_name.xml]
;description=human-friendly test name shown in grade breakdown
;weight=1-100 how many points this test is worth
;asmfile=asm_file_name.asm

; C template:
;[category name]
;tests=a,b,c,d comma-separated lists of tests formatted according to
;              testcase_fmt in [C]
;weight=1-100 how many points this test is worth

; vim:set ft=dosini :
